#header-user-agender-labs{
  grid-area: header;


  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

#img-user-agender-labs{
  width: 100px;
  height: 100px;
}
#text-header-agender-labs{
  font: 400 3rem Revalia;

  margin-left: 5%;
  color: var(--color-background-secundary-text);
}








