.input-password{
  background-color: var(--color-primary-input);

  width: 25vw;
  height: 5vh;

  border-radius: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#icon-user-password{
  width: 30px;
  height: 30px;

  margin-left: 5%;

}

#icon-email-password{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

.icon-password-password{
  width: 26px;
  height: 26px;

  margin-left: 5%;
}

.input-children-password{
  width: 80%;
  height: 100%;

  margin-left: 2.5%;

  background-color: var(--color-primary-input);
}

#botton-change-password{
  height: 45px;
  width: 200px;

  border-radius: 15px;
  background-color: var(--color-primary-button);
}

/* POSICIONAMENTO */

.input-password{
  margin-left: 10%;
}
.label{
  margin-left: 15%;
}

#label-password-one{
  grid-row: 2;
  grid-column: 1;

}

#label-password-two{
  grid-row: 4;
  grid-column: 1;
}

#label-password-three{
  grid-row: 2;
  grid-column: 2;
}

#label-password-four{
  grid-row: 4;
  grid-column: 2;
}

#input-password-one{
  grid-row: 3;
  grid-column: 1;
}

#input-password-two{
  grid-row: 5;
  grid-column: 1;
}

#input-password-three{
  grid-row: 3;
  grid-column: 2;
}

#input-password-four{
  grid-row: 5;
  grid-column: 2;
}

#botton-change-password{
  grid-row: 7;
  grid-column: 1/2;

  align-self: center;
  justify-self: center;
}