@keyframes animacao-button{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes animacao-input{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

#form-adm-one{
  grid-row: 1/8; 
  grid-column: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.input-register-adm{
  background-color: var(--color-primary-input);

  width: 25vw;
  height: 5vh;

  border-radius: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

}

.input-register-adm:hover{
  animation: animacao-input 1s;
}

.input-children-register-adm{
  width: 80%;
  height: 100%;

  margin-left: 2.5%;

  background-color: var(--color-primary-input);
}
#form-adm-second{
  grid-row: 1/8; 
  grid-column: 2;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#icon-user-register-adm{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#icon-email-register-adm{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#icon-discipline-register-adm{
  width: 26px;
  height: 26px;

  margin-left: 5%;
}

.icon-password-register-adm{
  width: 26px;
  height: 26px;

  margin-left: 5%;
}


#botton-back-register-adm{
  height: 45px;
  width: 200px;

  border-radius: 15px;
  margin-top: 60px;
  background-color: var(--color-primary-button);

}

#botton-back-register-adm:hover{
  animation: animacao-button 400ms;
}

#botton-create-adm{
  height: 45px;
  width: 200px;

  border-radius: 15px;
  margin-top: 60px;
  background-color: var(--color-secundary-button);

}

#botton-create-adm:hover{
  animation: animacao-button 400ms;
}
