#home-image-computer{
  grid-row: 1/8;
  grid-column: 1/2;

  margin: 0;
  padding: 0;

  width: 45vw;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  
}
#icon-computer-home-user{
  width: 100px;
  height: 100px;

  align-self: center;

  grid-column: 1/2;
  grid-row: 3;

}
#conteiner-button-home-use{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.btns-home-user{
  background-color: var(--color-tertiary-button);

  width: 15vw;
  height: 7vh;

  border-radius: 10px;

  margin-left: 4vw;
  margin-top: 30px;

  justify-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-botton-home-user{
  font: 400 1.5rem Skranji;
  color: var(--color-primary-button-text);

  margin-left:5%;
}
#icon-home-user-plus{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#icon-home-user-search{
  width: 28px;
  height: 28px;

  margin-left: 5%;
}

#icon-home-user-schedule{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}
#icon-home-user-logout{
  width: 28px;
  height: 28px;

  margin-left: 5%;
}


/*POSICIONAMENTO*/

#btn-home-user-alocar{
  grid-column: 1;
  grid-row: 2;

}

#btn-home-user-view{
  grid-column: 1;
  grid-row: 4;
}

#btn-home-user-agendar{
  grid-column: 2;
  grid-row: 2;
}

#btn-home-user-sair{
  grid-column: 2;
  grid-row: 4;
}



