#background{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 20% auto 10%;  
}

#logo-fmm{
  height: 80px;
  width: 82px;
}

#footer-text{
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  text-align: center;
  font: 400 2.5rem Risque;
  color: var(--color-background-down-text); 
}

#body-main{
  grid-row: 2;
  grid-column: 2;
  border-radius: 2.5%;
  background: var(--color-background-internal);

  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr 1fr;
  justify-content: center;

}

