@keyframes animacao-button{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes animacao-input{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

#form-user-one{
  grid-row: 1/8; 
  grid-column: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.input-register{
  background-color: var(--color-primary-input);

  width: 25vw;
  height: 5vh;

  border-radius: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;

}

.input-register:hover{
  animation: animacao-input 1s;
}

.input-children-register{
  width: 80%;
  height: 100%;

  margin-left: 2.5%;

  background-color: var(--color-primary-input);
}
#form-user-second{
  grid-row: 1/8; 
  grid-column: 2;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#icon-user-register{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#icon-email-register{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#icon-discipline-register{
  width: 26px;
  height: 26px;

  margin-left: 5%;
}

.icon-password-register{
  width: 26px;
  height: 26px;

  margin-left: 5%;
}

#label-first-register{
  margin-top: -10%;
}


#botton-create{
  height: 45px;
  width: 200px;

  border-radius: 15px;
  margin-top: 60px;
  background-color: var(--color-secundary-button);

}

#botton-create:hover{
  animation: animacao-button 400ms;
}

#adm-register{
  text-decoration: none;
  font: 400 1.6rem Skranji;

  margin-top: 20px;
  margin-left: -100px;

  color: var(--color-background-internal-text);
}