@keyframes animacao-button{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}


#home-image-computer-adm{
  grid-row: 1/8;
  grid-column: 1/2;

  margin: 0;
  padding: 0;

  width: 45vw;
  
  display: flex;
  flex-direction: column;
}

#conteiner-btns-home-adm{
  display: flex;
  flex-direction: row;
}
.btns-home-adm{
  background-color: var(--color-tertiary-button);

  width: 15vw;
  height: 7vh;

  border-radius: 10px;

  margin-left: 4vw;
  margin-top: 45%;

  justify-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.btns-home-adm:hover{
  animation: animacao-button 400ms;
}

#image-labs-home-user{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}

#image-teacher-home-user{
  width: 30px;
  height: 30px;

  margin-left: 5%;
}
.text-btns-home-adm{
  font: 400 1.75rem Skranji;
  color: var(--color-primary-button-text);

  margin-left:5%;
}
