#header-view-labs-user{
  grid-area: header;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

#img-view-labs-user{
  width: 100px;
  height: 100px;
}

#text-header-view-labs-user{
  font: 400 3rem Revalia;

  margin-left: 5%;
  color: var(--color-background-secundary-text);
}

#search-user-view-labs{
  height: 6vh;
  width: 16vw;

  background-color: var(--color-primary-button);
  border-radius: 15px;
  
  justify-self: center;
  font: 400 2.25rem Skranji;
}

#search-user-view-labs:hover{
  animation: animacao-button 400ms;
}

