@keyframes animacao-button{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes animacao-input{
  0%, 20%, 60%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

#logo-teacher{
  height: 185px;
  width: 185px;

  grid-row: 1/6; 
  grid-column: 1;

  justify-self: center;
  align-self: center;
}

#logo-heart{
  height: 31px;
  width: 37px;
}

#teacher-text{
  font: 400 3rem Reem Kufi;
  margin-right: 10px;
}

#visual-teacher{
  grid-row: 7/8;
  grid-column: 1;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

#form-user{
  grid-row: 1/8;  
  grid-column: 2;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.label{
  width: 300px;
  font: 400 2.25rem Skranji;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-user{
  width: 300px;
  height: 40px;
  background-color: var(--color-primary-input);
  border-color: var(--color-primary-input); 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border-radius: 25px;
}

.info-user:hover{
  animation: animacao-input 1s;
}

input{
  border: none;
  color: var(--color-background-primary-text);
  font: 400 2rem Skranji;
}

a {
  text-decoration: none;
}

button{
  border: none;
  color: var(--color-primary-button-text);
}

#text-go a{
  color: var(--color-primary-button-text);
}

#text-go{
  height: 45px;
  width: 200px;

  margin-top: 70px;
  background-color: var(--color-primary-button);
  border-radius: 15px;
  
  justify-content: center;
  text-align: center;
  font: 400 2.25rem Skranji;
}

#text-go:hover{
  animation: animacao-button 1s;
}

#lbl-first{
  margin-top: 75px;
}

#link-register{
  width: 200px;
  text-decoration: none;
  margin-top: 20px;
  font: 400 1.6rem Skranji;

  color: var(--color-background-internal-text);
}
